# Normalização de fim de linha
* text=auto eol=lf

# Fontes de texto do projeto
*.gd     text
*.tscn   text
*.tres   text
*.godot  text
*.cfg    text
*.import text

# Binários de assets
*.png    binary
*.aseprite binary
*.ase    binary
*.wav    binary
*.ogg    binary
*.mp3    binary
*.ttf    binary
*.otf    binary
